doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul(style="display:inline")
      li(style="display:inline")
        a(href="/admin") Create Questions
      li(style="display:inline")
        &nbsp
      li(style="display:inline")
        a(href="/reset") Unhide Questions
      li(style="display:inline")
        &nbsp
      li(style="display:inline")
        a(href="/admin/questions/results") Show Results
    block content
